version: 2.1
defaults: &defaults
  working_directory: ~/gregbarry/TicTacToe
  parallelism: 1
  shell: /bin/bash --login
  environment:
    CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
  docker:
    - image: circleci/node:10.16.3
jobs:
  build-client:
    <<: *defaults
    steps:
      - checkout
      - run: cd client && npm install
      - run: cd client && npm run-script build
      - run: mkdir -p $CIRCLE_ARTIFACTS/$CIRCLE_PROJECT_REPONAME
      - run: cp -R ./client/dist/* $CIRCLE_ARTIFACTS/$CIRCLE_PROJECT_REPONAME/
      - run: cd $CIRCLE_ARTIFACTS && zip -r ./$CIRCLE_PROJECT_REPONAME.zip $CIRCLE_PROJECT_REPONAME/
      - run: scp -o StrictHostKeyChecking=no $CIRCLE_ARTIFACTS/$CIRCLE_PROJECT_REPONAME.zip ubuntu@ec2-54-204-197-229.compute-1.amazonaws.com:/var/www/html/
      - run: ssh ubuntu@ec2-54-204-197-229.compute-1.amazonaws.com -f 'cd /var/www/html/ && unzip -o TicTacToe.zip && rm TicTacToe.zip'
  build-server:
    <<: *defaults
    steps:
      - checkout
      - run: mkdir -p $CIRCLE_ARTIFACTS/$CIRCLE_PROJECT_REPONAME
      - run: cp -R ./server $CIRCLE_ARTIFACTS/$CIRCLE_PROJECT_REPONAME/
      - run: cd $CIRCLE_ARTIFACTS && zip -r ./$CIRCLE_PROJECT_REPONAME.zip $CIRCLE_PROJECT_REPONAME/
      - run: scp -o StrictHostKeyChecking=no $CIRCLE_ARTIFACTS/$CIRCLE_PROJECT_REPONAME.zip ubuntu@ec2-54-204-197-229.compute-1.amazonaws.com:/var/www/
      - run: ssh -t -o StrictHostKeyChecking=no ubuntu@ec2-54-204-197-229.compute-1.amazonaws.com 'bash -i -c "cd /var/www/ && unzip -o TicTacToe.zip && cd /var/www/TicTacToe && npm install && ./node_modules/.bin/babel -d ./ ./app --copy-files && pm2 stop server.js && pm2 kill && export NODE_ENV=production && NODE_ENV=production pm2 start server.js --name tictactoe-server --update-env && exit"'
workflows:
  version: 2
  build-and-publish:
    jobs:
      - build-client:
          filters:
            branches:
              only:
                - main
      - build-server:
          filters:
            branches:
              only:
                - main
